.bckground {
    height: 40.5em;
    background-color: rgb(228, 211, 228);
    background-size: cover;
    border: 27px solid rgb(69, 69, 126);
}
.d-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 26%;
    width: 44%;
}
.flexbox {
    display: flex;
    flex-direction: column;
}
.text-layout {
    color: aliceblue;
    font-size: 19px;
    font-family: cursive;
    background-color: rgb(69, 69, 126);
    border-radius: 9px;
    padding: 22px 18px 24px 14px;
    margin-bottom: 2em;
}