<div class="bckground">
    <div class="d-flex">
        <div class="flexbox">
            <div class="text-layout">
                {{this.former_text}}
            </div>
            <div>
                <img src="assets/former.jpg">
            </div>
        </div>
        <div class="flexbox">
            <div class="text-layout">
                {{this.latter_text}}
            </div>
            <div>
                <img src="assets/letter.jpg">
            </div>
        </div>
    </div>
</div>